[Unit]
Description=Logger for the SDR GNU radio application
After=multi-user.target


[Service]
Type=simple
Restart=always
User=sdr
Group=sdr
ExecStart=/usr/local/bin/logger.py


[Install]
WantedBy=multi-user.target